.App {
  height: 100vh;
  .main-container {
    width: 600px;
    .main-panel {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .exchange-icon {
        height: 50px;
        width: 50px;
      }
    }
  }
}
